<!-- -->
<h1>{{videoInfo.title}}</h1>
<video autoplay id="videoClip">
  <source src="/uploads/videos/{{videoInfo.fileName}}" type="{{videoInfo.contentType}}">
Your browser does not support the video tag.
</video>
<p>Uploaded by {{videoInfo.createdBy}} on {{videoInfo.createdAt}}</p>
{{#if videoInfo.canEdit}}
<p>
<a href="/delete/{{videoInfo.fileName}}">Delete Video</a>
</p>
<p>
<a href="/editvideo/{{videoInfo.fileName}}">Edit Video Information</a>
</p>
{{/if}}
<h2>Description</h2>
<p class="description">{{videoInfo.description}}</p>
