<h1>{{videoInfo.title}}</h1>
<!-- height px should be 75 % of width px -->
<!-- Original: 320 & 240 -->
 <video width="400" height="300" autoplay controls>
  <source src="/video/{{videoFile.filename}}" type="{{videoFile.contentType}}">
Your browser does not support the video tag.
</video> 
<p class="user">Uploaded by {{videoInfo.createdBy}} on {{videoInfo.createdAt}}</p>
<h2>Description</h2>
<h3>{{videoInfo.description}}</h3>