{{#if emptySearch}}
<p>No matches found</p>
{{/if}}
<h3>
    Uploaded Videos:
</h3>
{{#each videoArr}}
<div>
    <a href="/play/{{this.fileName}}" class="indexVideoIcon">
        <img src="/img/icons/film.png" alt="Video">
    </a>
    <p class="indexVideoLink">
        <a href="/play/{{this.fileName}}">{{this.title}}</a><br>
        Uploaded by {{this.createdBy}} on {{this.createdAt}}
    </p>
</div>
{{/each}}
{{#if addPage}}
<p class="turnPage">
    View more:
    {{#if prevPage}}
    <!--<button disabled="disabled" class="turnPageBtn"><a href="/index/{{prevPage}}">&lt; prev</a></button>-->
    <form action="/index/{{prevPage}}">
        <input type="submit" value="&lt; prev" class="turnPageBtn">
    </form>
    {{/if}}
    {{#if nextPage}}
    <!-- &lt; prev -->
    <!--<button disabled="disabled" class="turnPageBtn"><a href="/index/{{nextPage}}">next &gt;</a></button>-->
    <form action="/index/{{nextPage}}">
        <input type="submit" value="next &gt;" class="turnPageBtn">
    </form>
    {{/if}}
</p>
{{/if}}