<h1>Uploaded Videos:</h1>
{{#each videoArr}}
<p class="user"><a href="/play/{{this.fileName}}">{{this.title}}</a><br>
Uploaded by {{this.createdBy}} on {{this.createdAt}}
</p>
{{/each}}
{{#if addPage}}
<!-- see reddit in Firefox for inspiration -->
<p>
    View more:
    {{#if prevPage}}
    <a href="/index/{{prevPage}}"> &lt; prev </a>
    {{/if}}
    {{#if nextPage}}
    <a href="/index/{{nextPage}}">next &gt; </a>
    {{/if}}
</p>
{{/if}}