<h1>Test again</h1>
{{#if emptySearch}}
<p>No matches found</p>
{{/if}}
{{#each videoArr}}
<div>
    <a href="/play/{{this.fileName}}" class="indexVideoIcon">
        <img src="/uploads/thumbnails/{{this.thumbnailName}}" alt="Play video" class="thumbnail">
    </a>
    <p class="indexVideoLink">
        <a href="/play/{{this.fileName}}">{{this.title}}</a><br>
        Uploaded by {{this.createdBy}} on {{this.createdAt}}
    </p>
</div>
{{/each}}
{{#if addPage}}
<div id="turnPage">
    <div class="turnPageItem" id="viewMore">
        More:
    </div>
    <div class="turnPageItem" id="switchPage">
    {{#if prevPage}}
    <form action="/count/{{prevPage}}" id="prevPage">
        <input type="submit" value="&lt; prev" class="turnPageBtn">
    </form>
    {{/if}}
    {{#if nextPage}}
    <form action="/count/{{nextPage}}">
        <input type="submit" value="next &gt;" class="turnPageBtn">
    </form>
    {{/if}}
    </div>
</div>
{{/if}}
