{{#if fromRedis}}
<p>{{fromRedis}}</p>
{{/if}}
{{#each videoArr}}
<p><a href="/play/{{this.fileName}}">{{this.title}}</a><br>
Uploaded by {{this.createdBy}} on {{this.createdAt}}
</p>
{{/each}}
{{#if addPage}}
<!-- see reddit in Firefox for inspiration -->
<p class="turnPage">
    View more:
    {{#if prevPage}}
    <button disabled="disabled" class="turnPageBtn"><a href="/index/{{prevPage}}">&lt; prev</a></button>
    {{/if}}
    {{#if nextPage}}
    <!-- &lt; prev -->
    <button disabled="disabled" class="turnPageBtn"><a href="/index/{{nextPage}}">next &gt;</a></button>
    {{/if}}
</p>
{{/if}}